<!-- Die Datei enthält die Anweisungen für den Kopf jeder Seite  -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>CD Datenbank</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
